<!DOCTYPE html>

<%- include('Partials/Header.ejs') %>

    <body>
        <%- include('Partials/Navbar.ejs') %>

            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h1>
                        <%= PageTitle %>
                    </h1><br>
                    <table class="table table-bordered table-striped table-hover">
                        <!-- header row-->
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Number</th>
                                <th scope="col" class="text-center">State</th>
                                <th scope="col" class="text-center">Title</th>
                                <th scope="col" class="text-center">Priority</th>
                                <th scope="col" class="text-center">Category</th>
                                <th scope="col" class="text-center">Assigned To</th>
                                <th scope="col" class="text-center">Assigned By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let count = 0; count <IncidentList.length; count++){ %>
                                <tr>
                                    <td class="text-center">
                                        <%= IncidentList[count].number %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].state %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].title %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].priority %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].category %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].assignedTo %>
                                    </td>
                                    <td class="text-center">
                                        <%= IncidentList[count].assignedBy %>
                                    </td>
                                </tr>

                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <script src="/jquery/dist/jquery.min.js"></script>
            <script src="/bootstrap/dist/css/bootstrap.min.js"></script>
            <script src="/jquery/dist/jquery.min.js"></script>
    </body>

    </html>